<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>All the todos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <h1>All the todos</h1>
    </header>
    <main>
      <ul>
        <% for(const todo of todoList){ %>

        <li>
          <a href="/todos/<%= todo.id %>"><%= todo.task %></a>
          - <%= todo.isCompleted ? "Completed" : "Not completed" %>
        </li>

        <% } %>
      </ul>
      <form action="/todos" method="POST">
        <input type="text" name="task" placeholder="Enter the task name" />
        <button type="submit">Add a new task!</button>
      </form>
    </main>
  </body>
</html>


